<uib-carousel>
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" no-transition="true">
        <a ng-href="{{slide.url}}">
            <img ng-src="{{slide.image}}" style="margin:auto;">
        </a>
    </uib-slide>
</uib-carousel>

<a hre class="list-header mt-25 mb-10"><strong>Produk Terbaru</strong> <span>Lihat Semua >>></span></a>
<div class="row product-grid">
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D29a.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm). </strong>
                    <span class="td-lt">Rp. 100.000</span>
                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a>
                <a href="#">#Full Diamond</a>
                <a href="#">#Full Diamond</a>

            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D58.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm).Diamond full dan selalu kedip kedip, gede dan mewah </strong>
                    <span class="td-lt">Rp. 100.000</span>
                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a> <a href="#"> #Full Diamond</a><a href="#">#Full Diamond</a>

            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D11-W.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm). </strong>

                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a> <a href="#"> #Full Diamond</a><a href="#">#Full Diamond</a>

            </div>

        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D58.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm). </strong>

                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a> <a href="#"> #Full Diamond</a><a href="#">#Full Diamond</a>

            </div>

        </div>
    </div>
</div>
<a hre class="list-header mt-25  mb-10"><strong>Diskon sampai Rp. 100.000,00</strong> <span>Lihat Semua >>></span></a>
<div class="row product-grid">
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D58.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm). </strong>
                    <span class="td-lt">Rp. 100.000</span>
                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a>
                <a href="#">#Full Diamond</a>
                <a href="#">#Full Diamond</a>

            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D29a.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm).Diamond full dan selalu kedip kedip, gede dan mewah </strong>
                    <span class="td-lt">Rp. 100.000</span>
                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a> <a href="#"> #Full Diamond</a><a href="#">#Full Diamond</a>

            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D11-W.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm). </strong>

                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a> <a href="#"> #Full Diamond</a><a href="#">#Full Diamond</a>

            </div>

        </div>
    </div>
    <div class="col-sm-3">
        <div class="product-card">
            <a href="#/">
                <div class="product-card-image">
                    <img src="images/product/D58.jpg" />
                </div>
                <div class="product-card-info">
                    <strong>DIY Diamond Painting. Delapan Kuda (100x 40cm). </strong>

                    <span class="cl-red">RP. 50.000</span>
                </div>
            </a>
            <div class="product-card-tag">
                <a href="#">#Diamond Painting</a> <a href="#"> #Full Diamond</a><a href="#">#Full Diamond</a>

            </div>

        </div>
    </div>
</div>
<a hre class="list-header mt-25 mb-10"><strong>OneMarkets / OneMarketIndo</strong> <span>Lihat Semua >>></span></a>
<h1 class="fs-15 lh-20 cl-gs">
    OneMarkets / OneMarketIndo - Menjual Lukisan Diamond Painting, Bunga DIY Wisuda / Valentine
</h1>
<p class="lh-20 ">
    OneMarkets / OneMarketIndo adalah toko online terpercaya di Indonesia yang menjual barang unik seperti Diamond Painting, Bunga DIY untuk Bunga Valentine, Bunga Wisuda. Selain itu OneMarkets / OneMarketIndo juga menjadi reseller bagi supplier yang berminat untuk memasarkan barangnya secara online.
</p>
